

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#tweetbox {
	position: absolute;
	width: 500px;
	height: auto;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	pointer-events: none;
	color: grey
}

#tweetbox.hidden {
	display: none;
}

#tweetbox p {
	margin: 0;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 20px;
}

#tooltip {
	background: lightsteelblue;
}
